<a href="{{ url_for('location.new') }}">new</a>

<br>

{% block body %}
  <table class=locations>
    <thead>
      <th>Username</th>
      <th>Location</th>
      <th>Timestamp</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </thead>
    <tbody>
      {% for location in locations %}
        <tr>
          <td><a href="{{url_for('location.get', username=location.username)}}">{{ location.username }}</a></td>
          <td>{{ location.location_name }}</td>
          <td>{{ location.timestamp_created }}</td>
          <td>{{ location.latitude }}</td>
          <td>{{ location.longitude }}</td>
        </tr>
      {% else %}
        <tr><em>Unbelievable.  No entries here so far</em></tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
